
/* Background image in header */
.header-image{
height: 100vh;
/* background-color: grey; */
background-image: url("../img/PLaceholder-1.jpg");
background-position: center;
background-size: cover;

}
/* navigation */

/* Featured movie in the header */
.mainMovie{
    height: 70%;
    /* background-color: darkblue; */
}

/* Movie cover insider the header */
.movieCover{
    height: 100%;
    background-color: yellow;
    float: left;
}

/* Movie descriwtion inside the header */
.description{
    float: left;
    margin: 0 auto;
    margin-left: 2%;
}


@media only screen and (max-width: 2560px){
    .mainMovie{
        height: 500px;
    }

    .card{
        height: 400px;
    }
}

@media only screen and (max-width: 1024px){
    .mainMovie{
        height: 470px;
    }

    .card{
        height: 300px;
    }



}