.bg {
    height: 100vh;
}

#signUp-heading {
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.signUp-con {
    margin: 0 auto;
    height: 90vh;
    width: 80%;
    background-color: #262626;
    margin-top: 5vh;
    box-shadow: -11px 10px 28px -8px rgba(26,0,185,0.67);
    -webkit-box-shadow: -11px 10px 28px -8px rgba(26,0,185,0.67);
    -moz-box-shadow: -11px 10px 28px -8px rgba(26,0,185,0.67);
    border-radius: 7px;
    border-radius: 30px;
}

.signup {
    padding-top: 1%;
    width: 50%;
    margin: 0 auto;
    background-color: #1A00B9;
    height: 7%;
    border-radius: 7px;
    color: white;
    transition: all ease-in 400ms;
    margin-top: 5vh;
}

.signup:hover {
    transform: scale(1.1);
    padding-top: 1%;
    width: 70%;
    margin: 0 auto;
    background-color: #E3E800;
    height: 7%;
    border-radius: 7px;
    color: black;
    margin-top: 5vh;
}

#login-heading {
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.login-con {
    margin: 0 auto;
    height: 90vh;
    width: 80%;
    background-color: #262626;
    margin-top: 5vh;
    box-shadow: -11px 10px 28px -8px rgba(26,0,185,0.67);
    -webkit-box-shadow: -11px 10px 28px -8px rgba(26,0,185,0.67);
    -moz-box-shadow: -11px 10px 28px -8px rgba(26,0,185,0.67);
    border-radius: 30px;
}

.change-btn {
    width: 100%;
    height: 5vh;
    background-color: #262626;
    margin: 0 auto;
    margin-top: 3vh;
    text-align: center;
    border: black solid 3px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: -11px 10px 28px -8px rgba(26,0,185,0.67);
    -webkit-box-shadow: -11px 10px 28px -8px rgba(26,0,185,0.67);
    -moz-box-shadow: -11px 10px 28px -8px rgba(26,0,185,0.67);
    border-radius: 30px;
    transition: all ease-in-out 400ms;
}

.change-btn:active {
    background-color: #1A00B9;
    transform: scale(0.9);
    color: white;
    border: none;
}

#btn-text {
    margin: 0 auto;
    padding-top: 0.5vh;
}

.logo-img {
    margin: 0 auto;
    width: 30%;
    height: 150px;
    background-image: url("../img/SVG/Asset\ 2.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.form-container {
    text-align: center;
    width: 70%;
    height: 70vh;
    margin: 0 auto;   
    padding-top: 20px;
    position: relative;
}

input {
    width: 100%;
    height: 35px;
    border: none;
    background-color: #f7f7f7;
    border-radius: 40px;
    padding-left: 4%;
    margin-top: 15px;
    text-align: center;
     margin-top: 2vh;
}

.btn {
    width: 80%;
    background-color: #2b2b2b;
    color: #f7f7f7;
    margin:  0 auto;
    margin-top: 20px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 300 !important;
    transition: all ease 200ms;
}

.input-sections {
    margin-top: 2vh;
}

.login-left {
    margin: 0 auto;
    height: 90vh;
    width: 50%;
    background-color:#262626;
    margin-top: 5vh;
    box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.52);
    -webkit-box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.52);
    border-radius: 30px;
    float: left;
    position: relative;
}

.signUp-LgMain {
    height: 90vh;
    width: 50%;
    background-color: #262626;
    margin-top: 5vh;
    box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.52);
    -webkit-box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.52);
    border-radius: 30px;
    float: left;
    position: relative;
}

.panel {
    height: 90vh;
    background-color: #E3E800;
    color: white;
    border-radius: 30px;
    position: absolute;
    top: 5vh;
    text-align: center;
    right: 0;
    transition: all ease-in-out 500ms;
}

.panel-slider {
    margin-right: 50%;
}

.btn-click {
    width: 200px;
    height: 50px;
    border: solid #1A00B9;
    border-radius: 7px;
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40vh;
    color: #262626;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in-out 400ms;
}

.btn-click:hover {
    background-color: #1A00B9;
    transform: scale(1.1);
    color: white;
}

.message {
    padding-top: 5px;
    height: 31px;
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.login-btn {
    width: 200px;
    height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #1A00B9;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 25px;
    padding-top: 3px;
    cursor: pointer;
    margin-bottom: 25px;
    transition: all ease-in-out 400ms;
}

.login-btn:hover {
    transform: scale(1.1);
    background-color: #E3E800;
    height: 7%;
    border-radius: 7px;
    color: black;
}

.login-btnSM {
    width: 200px;
    height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #1A00B9;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 25px;
    padding-top: 3px;
    cursor: pointer;
    margin-bottom: 25px;
    transition: all ease-in-out 400ms;
}

.login-btnSM:hover {
    transform: scale(1.1);
    background-color: #E3E800;
    height: 7%;
    border-radius: 7px;
    color: black;
}
